###> symfony/framework-bundle ###
/.env.*
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> symfony/webpack-encore-bundle ###
/node_modules/
/public/build/
npm-debug.log
yarn-error.log
/package-lock.json
###< symfony/webpack-encore-bundle ###

###> docs ###
/evolutions/
###< docs ###

/.claude/

###> outils jetables de prod (ne jamais committer) ###
/public/opcache-reset.php
/public/php-binary-check.php
###< outils jetables de prod ###
