.col0 { width: 25px; }
.col1 { width: 80px; }
.col2 { width: 70px; }
.col3 { width: 70px; }
.col4 { width: 40px; }
.col5 { }
.col6 { width: 100px; }
.col7 { width: 30px; }
.col8 { width: 70px; }
.col9 { width: 40px; }
.col10 { width: 40px; }
.col11 { width: 55px;}

tr[id="filterrow"] th input, tr[id="filterrow"] th select {
    width: 100%;
    font-size: 11px;
    height: 30px;
}

div#table_list_demande_filter {
    display: none !important;
}

tfoot {
    display: table-header-group;
}

body .popover {
    width: auto;
    max-width: 500px;
}
