/*******************************************
            BLOC AUDIT
*******************************************/
#bloc-audit {

}

#bloc-audit input[type=radio] {
    vertical-align: bottom;
}
#bloc-audit .checkboxstyle label {
    line-height: 0;
    margin-left: 5px;
    margin-right: 10px;
}

#bloc-audit .checkboxstyle label::after {
    content: "";
}

/*******************************************
            BLOC DECLARATION
*******************************************/
#bloc-declaration {

}

#bloc-declaration .checkboxstyle label {
    display: block;
    position: relative;
    margin-top: -22px;
    padding-left: 35px;
    cursor: pointer;
    text-align: left;
    font-weight: inherit;
}

#bloc-declaration .checkboxstyle label::after {
    content: "";
}

/*******************************************
            BLOC REVENU
*******************************************/
#bloc-revenu {

}

/*******************************************
            BLOC STRUCTURE
*******************************************/
#bloc-structure {

}

/*******************************************
            BLOC SIGNATURE
*******************************************/
#bloc-signature {

}

#bloc-signature input[type=checkbox] {
    vertical-align: bottom;
}
#bloc-signature .checkboxstyle label {
    line-height: 0;
    margin-right: 10px;
}
