/*******************************************
            MODAL PARAMETERS
*******************************************/
div.modal_email .modal-header legend {
    border: 0 !important;
    color: #77b636 !important;
}

div.modal_email .modal-dialog {
    overflow-y: initial !important;
    width: 500px;
}

/*******************************************
            BLOC CONTENT
*******************************************/
.bloc-historiqueContent {
    max-height: 480px;
    overflow-y: auto;
}
