/*******************************************
            BLOC REMISE
*******************************************/
#bloc-remise {
}

/*******************************************
            BLOC CHEQUE
*******************************************/
#bloc-cheque {
}

/*******************************************
    BLOC FACTURE
*******************************************/
#bloc-facture {

}

/*******************************************
            BLOC RIB
*******************************************/
#bloc-rib {
}

.custom-file {
    border: 0;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    height: 30px;
    margin: auto;
    outline: 0;
    position: relative;
    width: 250px;
    margin-left: 0;
}
.custom-file:after {
    border-radius: 5px;
    color: #fff;
    display: block;
    font-size: 20px;
    height: 100%;
    left: 0;
    line-height: 60px;
    position: absolute;
    top: 0;
    transition: 200ms all ease;
    text-align: center;
    width: 100%;
}

/*******************************************
    BLOC CHEQUE CASE
*******************************************/
#bloc-chequeCase {

}

#bloc-chequeCase label {
    font-weight: inherit;
}

#bloc-chequeCase input {
    position: absolute;
    left: -9999px;
}

#bloc-chequeCase label {
    display: block;
    position: relative;
    margin: 0 40px;
    padding: 8px 15px 8px 31px;
    border: 3px solid #fff;
    border-radius: 15px;
    color: #fff;
    /*background-color: #d9534f;*/
    background-color: rgba(150,150,150, 0.8);
    /*box-shadow: 0 0 20px rgba(0, 0, 0, .2);*/
    white-space: pre-line;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

#bloc-chequeCase label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 16px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background-color .2s;
}

#bloc-chequeCase input:checked + label {
    background-color: #5cb85c;
}

#bloc-chequeCase input:checked + label::before {
    background-color: #fff;
}

/*******************************************
    BLOC FACTURE CASE
*******************************************/
#bloc-factureCase {

}

#bloc-factureCase label {
    font-weight: inherit;
}

#bloc-factureCase input {
    position: absolute;
    left: -9999px;
}

#bloc-factureCase label {
    display: block;
    position: relative;
    margin: 0 40px;
    padding: 8px 15px 8px 31px;
    border: 3px solid #fff;
    border-radius: 15px;
    color: #fff;
    /*background-color: #d9534f;*/
    background-color: rgba(150,150,150, 0.8);
    /*box-shadow: 0 0 20px rgba(0, 0, 0, .2);*/
    white-space: pre-line;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

#bloc-factureCase label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 16px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background-color .2s;
}

#bloc-factureCase input:checked + label {
    background-color: #5cb85c;
}

#bloc-factureCase input:checked + label::before {
    background-color: #fff;
}

/*******************************************
    BLOC RIB CASE
*******************************************/
#bloc-ribCase {

}

#bloc-ribCase label {
    font-weight: inherit;
}

#bloc-ribCase input {
    position: absolute;
    left: -9999px;
}

#bloc-ribCase label {
    display: block;
    position: relative;
    margin: 0 40px;
    padding: 8px 15px 8px 31px;
    border: 3px solid #fff;
    border-radius: 15px;
    color: #fff;
    /*background-color: #d9534f;*/
    background-color: rgba(150,150,150, 0.8);
    /*box-shadow: 0 0 20px rgba(0, 0, 0, .2);*/
    white-space: pre-line;
    cursor: pointer;
    user-select: none;
    transition: background-color .2s, box-shadow .2s;
}

#bloc-ribCase label::before {
    content: '';
    display: block;
    position: absolute;
    top: 10px;
    bottom: 10px;
    left: 10px;
    width: 16px;
    border: 2px solid #fff;
    border-radius: 10px;
    transition: background-color .2s;
}

#bloc-ribCase input:checked + label {
    background-color: #5cb85c;
}

#bloc-ribCase input:checked + label::before {
    background-color: #fff;
}

/*******************************************
            BLOC CONFIRMATION
*******************************************/
.bloc-confirmation {
    height: 190px;
}
