/*******************************************
            BLOC IDENTIFICATION
*******************************************/
#bloc-identification {

}

#checkbox-addressDisplay input[type=checkbox] {
    vertical-align: bottom;
}
#checkbox-addressDisplay label {
    line-height: 15px;
    padding-left: 0;
}

/*******************************************
            BLOC ADRESSE
*******************************************/
#bloc-adresse {

}

/*******************************************
            BLOC SITUATION
*******************************************/
#bloc-situation {

}

#bloc-situation input[type=radio] {
    vertical-align: bottom;
}
#bloc-situation .checkboxstyle label {
    line-height: 0;
    margin-left: 25px;
    display: block;
    position: relative;
    top: -8px;
    text-align: left;
}

#bloc-situation .checkboxstyle label::after {
    content: "";
}

/*******************************************
            BLOC CARACTERISTIQUE
*******************************************/
#bloc-caracteristique {

}

#bloc-caracteristique input[type=radio] {
    vertical-align: bottom;
}
#bloc-caracteristique .checkboxstyle label {
    line-height: 0;
    margin-left: 5px;
    margin-right: 10px;
}

#bloc-caracteristique .checkboxstyle label::after {
    content: "";
}
